/*for habit list styles*/
.habit-list{
    background-color: #105252;
    margin: 5px;
    border-radius: 10px;
    color: white;
    height: 116px;
}

.habit-details{
    display: flex;
    padding: 4px;
    width: 28vw;
}

.habit-left-details{
  width: 90%;
  display: flex;
  font-weight: 500;
}
.habit-delete{
 width: 10%;
}
.table{
  border: 1px solid;
  border-collapse: collapse;
  margin-top: 5px;
  width: 99%;
  border-radius: 10px;
}
.dates{
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}

img{
  margin-left: 14px;
  margin-top: 7px;
  cursor: pointer;
}

.individual-div{
  display:flex;
  gap: 2px
}

.in{
  background-color:#80937c;
  width: 14%;
  height: 68px;
  border-radius: 9px;
}

/*Mobile responsive*/

@media only screen and (max-width: 600px) {
  
.individual-div{
  flex-wrap: nowrap;

}
}

