.navbar{
  background-color: #363838;
  color: white;
  height: 36px;
}
.heading{
    padding-left: 18px;
    float: left;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
}

.contactLink{
  text-decoration: none;
  color: white;
  padding: 4px;
}

.contactLink:hover{
  color: #cfcfcf;
  box-shadow: 1px 2px 12px 10px grey;
  border-radius: 50%;
 
}

